In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [9]:
import numpy as np
import pandas as pd

lst = [1,2,3,4]
np.array(lst)

array([1, 2, 3, 4])

In [10]:
pd.Series([lst,lst,lst])

0    [1, 2, 3, 4]
1    [1, 2, 3, 4]
2    [1, 2, 3, 4]
dtype: object

In [5]:
[lst,lst,lst]

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

In [13]:
df = pd.DataFrame([lst,lst,lst], columns=['A','B','C','D'])
print(df)

   A  B  C  D
0  1  2  3  4
1  1  2  3  4
2  1  2  3  4